.App {
  text-align: center;
}


h1{
  text-align: center;
  color: #9d8deb;
}
body{
  background-color: black;
  color: rgb(224, 131, 43);
}
table, th,td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
